<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137038160704-n1timhvvp4ktp8ci41r13mtvqm9dto9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137038160704-n1timhvvp4ktp8ci41r13mtvqm9dto9h</string>
	<key>API_KEY</key>
	<string>AIzaSyCVaYI36GQJrTsZn-Wt_aRr40kjxTv12zk</string>
	<key>GCM_SENDER_ID</key>
	<string>137038160704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.droisys.ChattingApp</string>
	<key>PROJECT_ID</key>
	<string>chatting-app-d2df9</string>
	<key>STORAGE_BUCKET</key>
	<string>chatting-app-d2df9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137038160704:ios:8dbebf500fa1dd586090a5</string>
</dict>
</plist>